.Inputbox {
  /* border: 1px solid var(--Slate-300); */
  display: flex;
  align-items: center;
  border-radius: 0.1rem;
  overflow: hidden;
  border: 2px solid rgb(5, 45, 5);
  height: 2.5rem;
}

.Inputbox.true{
  border: 2px solid var(--lime);
}

.Inputbox.normal {
  flex-direction: row;
}

.Inputbox.reverse {
  flex-direction: row-reverse;
}

.tagInput {
  height: 100%;
  padding: 0 1rem;
  display: grid;
  place-content: center;
}

.tagInput.true{
  background-color: var(--lime);
}

.inputT{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
}


.teste{
  color: green;
}

.teste.false{
  color: aqua;
}